ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #FFFFFF;
    list-style-position: inside;
}

.navbar-links{
	float: right;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#home-link{
	float: left;
	color: red;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
		color: #000000;
}

h2{
    font-family: 'Pacifico', cursive;
}
h3{
    font-family: 'Tinos', serif;
    font-weight: bold;
}
  body {
font-family: 'Tinos', serif;
  }

  div {
      /* border: 1px solid black; */
      margin: 100px 500px;
}

.columns{
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-moz-column-count: 2; /* Firefox */
column-count: 2;

-webkit-column-width: 300px; /* Chrome, Safari, Opera */
-moz-column-width: 100px; /* Firefox */
column-width: 300px;
}



/* fonts */
/* @font-face {
font-family: 'DIN 1451 fette Breitschrift 1936';
font-style: normal;
font-weight: normal;
src: local('DIN 1451 fette Breitschrift 1936'), url('DIN1451-36breit.woff') format('woff');
} */
